@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
:root{
  --spacing: 350px;
  --dark-bg:rgb(20, 41, 80, 0.2);
  --light-bg:rgba(209, 209, 209, 0.2);
}


canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: 100%;
  height: 100%;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  display: grid;
  grid-template-columns:repeat(12,1fr) ; /*divide the page to 12 equal columns */
  font-family: 'Architects Daughter', cursive;
}


header,footer{
  grid-column: 2/ span 5;
}


header{
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section{
  grid-column: 2/ span 5;
  padding: 1rem;
  margin-bottom: var(--spacing);
  font-size: 2.5rem;
}


footer{
  bottom: 0;
  font-size: 1.5rem;
  padding: 2rem;
  padding-bottom:0rem ;
  font-size: 2.5rem;

}

img{
  width: 50px;
  height: 50px;
}
a{
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  text-decoration: none;
}
h3{
  text-align: center;
}
h4,h6{
  margin: auto;
}


#social{
  text-align: center;
}

.light{
  background:var(--light-bg);
}

.dark{
  background: var(--dark-bg);
}


/*table style*/
table{
  background: rgba(54, 54, 54, 0.4);
  border-collapse: collapse;
  width: 90%;
  margin: 5%;
}

td{
  border-bottom:3px solid whitesmoke;
}
td.stars{
  width: 20%;
  text-align: right;
}
td.name{
  width: 80%;
  text-align: left;
}
/* td > .rating{
  
} */
tr:hover {
  background: rgb(44, 44, 44);
  transform: scale(1.5, 1ms);
}
.rating{
  font-size: 20px;
}

tr:hover > td > .rating{
  font-size: 25px;
  transition: all 300ms ease 0ms
}

.educationRow{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 5%;
}
.title{
  grid-column: 1/1;
  margin-right: 15%;
}

.content{
  grid-column: 2/ span 3;
}

